body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #41b3a4c8;
  color: #C38D9E;
  margin: 5px;
  padding: 0%;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: #111;
  letter-spacing: -1px; 
  line-height: 1;
}

h2 {
  color: white;
  font-weight: 900;
}

.App-link {
  color: #C38D9E;
}

td, th {
  border: 1px solid #ddd;
  padding: 6px;
}

tr:nth-child(even){background-color: #f7e3d5;}

tr:nth-child(odd){background-color: rgba(255, 255, 255, 0.761);}

tr:hover {
  background-color: #ec8fae;
  line-height: 40pt;
}

th {
  padding: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #C38D9E;
  color: white;
}
