body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #41b3a492;
  color: #C38D9E;
  margin: 5px;
  padding: 0%;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: #111;
  font-family: 'Helvetica Neue', sans-serif; 
  letter-spacing: -1px; 
  line-height: 1;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
