body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #70e1d2d3;
  color: #000000;
  font-size: 15pt;
  margin: 5px;
  padding: 0%;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: #111;
  letter-spacing: -1px; 
  line-height: 1;
}

h2 {
  color: rgb(0, 0, 0);
  font-weight: 900;
}

h1{
  font-size: 55pt;
  color: rgb(0, 0, 0);
  font-weight: 900;
}

.App-link {
  color: #C38D9E;
}

tr td, th {
  border: 1px solid #ddd;
  padding: 6px;
}

tr:nth-child(even){background-color: #f7e3d5;}

tr:nth-child(odd){background-color: rgba(255, 255, 255, 0.761);}

tr:hover {
  background-color: #ec8fae;
  line-height: 40pt;
}

tr td:hover {
  background-color: #e45383;
}

tr th {
  padding: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #C38D9E;
  color: white;
}

input {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#bubble {
  padding: 0px;
  margin: 0px;
  position: relative;
  top: -160px;
  right: -75px;
}

#situps {
  padding: 0px;
  margin: 0px;
  position: relative;
  top: -500px;
}

#clickMe {
  font-size: 1.1em;
  font-weight: bold;
  position: relative;
  top: 230px;
  left: 75px;
}

#list {
  position: relative;
  top: -650px;
}